:root {
    --left-nav-width: 280px;
}

body {
    background-color: #D2DEDC !important;
}

.bg {
    background-color: #5DB4D9;
}

.radius-full {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: white;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    /* height: 100vh; */
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.left-nav {
    width: var(--left-nav-width);
    /* height: 100vh; */
    background-color: #2A5AA3;
    color: white;
}

.list-unstyled>li>a {
    color: white !important;
}

.list-unstyled>li>a:hover {
    background-color: white;
    color: black;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    /* color: var(--bs-emphasis-color); */
    color: white !important;
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    /* color: rgba(var(--bs-emphasis-color-rgb), .85); */
    color: black !important;
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before:hover {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e") !important;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    /* content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e"); */
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.list-unstyled>li>a {
    padding: .1875rem .5rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}

.box {
    padding: 4rem;
    border-radius: 5%;
}

.box-p-kecil {
    padding: 2rem;
    border-radius: 5%;
}

.box-klinik-umum {
    background-color: #5FB968;
    border: 4px solid #069414;
}

.box-klinik-gigi {
    background-color: #956BEE;
    border: 4px solid #5D26D2;
}

.box-klinik-kia {
    background-color: #F9C578;
    border: 4px solid #F09E23;
}

.box-loket-2 {
    background-color: #F09E23;
    border: 4px solid #F9C578;
}

.label-antrian,
.angka-antrian {
    color: white;
    font-size: 24px;
}

.angka-antrian {
    font-size: 75px;
    font-weight: bold;
}

.bg-tv {
    background-color: white;
    /* min-height: 100%; */
    padding: 20px;
}

#scroll-container {
    background-color: white;
    overflow: hidden;
    /* height: 30px; */
}

#scroll-text {
    font-size: 25px;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 25s linear infinite;
    -webkit-animation: my-animation 25s linear infinite;
    animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}